
h1,.dh1 {
  font-size: 48rpx;
  font-weight: 700;
  line-height: 64rpx;
  padding: 48rpx 32rpx 0 32rpx;
  color: var(--l-font-gray-1, #222);
}

h2,.dh2 {
  padding: var(--l-spacer-4, 64rpx) 32rpx 0 32rpx;
  font-weight: 700;
  font-size: 18px;
  line-height: 52rpx;
  color: var(--l-font-gray-1, #222);
}

h3,.dh3 {
  padding: var(--l-spacer, 32rpx) 32rpx;
  font-size: var(--l-font-size-base, 14px);
  white-space: pre-line;
  color: var(--l-font-gray-2, #666);
  line-height: 44rpx;
}

p,.dp {
  font-size: 14px;
  color: var(--l-font-gray-2, #666);
  padding: 32rpx;
  line-height: 22px;
  display: flex;
  align-items: center;
}
